/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: red;
}
li {
  color:orange;
  list-style-type:none;
}
ul { 
display:flex; 
  justify-content:space-around;
}